@model IEnumerable<Skolinlämning.Models.BloggPost>
@{
    ViewData["Title"] = "Index";
}

<h2>Blog Posts</h2>

<div class="row text-dark">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
